// Color
$primary-color: #23409A;
$soft-blue: #A7B3D7;
$blue-600: #1A3074;
$grey-font-color: #636363;
$blue-50: #EAECF5;
$blue-100: #D3D9EB;
$red: #D40101;
$yellow: #FEB612;
$light-gray: #E0E0E0;
$black: #000;
$dark-grey: #333;
$grey-50: #817F7F;

// Fonts
$primary-font: 'Prompt', 'Roboto', sans-serif;
$xl-font-size: 18px;
$lg-font-size: 15px;
$default-font-size: 13px;
